@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800");
* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

.nav {
  display: flex;
  padding: 0 110px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #FFF;
  height: 110px; }

.navLogo {
  margin-right: 36px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navLogo img {
    width: 72px; }

.navData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.navRoutes a {
  font-size: 22px;
  margin-right: 20px;
  color: #002F9D;
  text-decoration: none; }
  .navRoutes a:hover {
    color: #11a7fd; }

.navLanguage {
  display: flex;
  align-items: center;
  color: #002F9D;
  font-size: 16px; }
  .navLanguage a {
    text-decoration: none;
    color: #002F9D; }
    .navLanguage a:hover {
      color: #11a7fd; }
  .navLanguage span {
    margin: 0 20px;
    color: #e6e6e6; }
  .navLanguage .flag {
    display: flex;
    justify-content: c; }
    .navLanguage .flag p {
      margin: 0; }

#pound {
  color: #002F9D;
  margin: 0; }

@media (max-width: 1170px) {
  .nav {
    padding: 20px; } }

@media (max-width: 768px) {
  .nav {
    height: fit-content; }
  .navLogo {
    margin: 0; }
    .navLogo img {
      width: 38px; }
  .navData {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center; }
  .navRoutes a {
    font-size: 14px;
    margin-right: 24px; }
  .navRoutes a:last-of-type {
    margin: 0; }
  .navLanguage {
    font-size: 16px;
    margin: 0 0 10px 0; }
    .navLanguage p {
      margin: 0; }
      .navLanguage p::after {
        content: ""; }
  .flag p {
    display: none; } }

.carousel {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  overflow: hidden; }

.carouselSlide {
  display: flex;
  width: 100%;
  height: 550px; }

.carouselSlide img {
  width: 100%;
  object-position: center;
  object-fit: cover; }

.carouselData {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.carouselText {
  width: fit-content;
  position: absolute;
  width: 400px;
  top: 200px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10; }
  .carouselText h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.95;
    margin: 0; }
    .carouselText h1 span {
      font-size: 50px; }
  .carouselText span {
    color: #FFF;
    font-size: 24px; }
  .carouselText .bookNow {
    width: 180px;
    height: 60px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background: #002F9D;
    margin-top: 20px;
    cursor: pointer; }
    .carouselText .bookNow:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      background-color: #11a7fd; }
    .carouselText .bookNow:active {
      transform: scale(0.9); }

.carouselButtons {
  width: fit-content;
  position: absolute;
  top: 250px;
  right: 20px;
  z-index: 10; }

.carouselButtons button {
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid #FFF;
  border-radius: 50%;
  cursor: pointer; }
  .carouselButtons button:hover {
    border: 2px solid #11a7fd; }
  .carouselButtons button:active {
    border: 2px solid #818181; }
  .carouselButtons button#previous {
    margin: 0 15px 0 0; }

@media (max-width: 768px) {
  .carousel {
    height: 450px; }
  .carouselSlide {
    height: 450px; }
  .carouselText {
    top: 70px; }
  .carouselButtons {
    top: 350px; } }

@media (max-width: 500px) {
  .carousel {
    height: 350px; }
  .carouselSlide {
    height: 350px; }
    .carouselSlide img {
      object-position: bottom; }
  .carouselText {
    top: 70px; }
    .carouselText h1 {
      font-size: 35px;
      word-break: break-all; }
      .carouselText h1 span {
        display: block;
        font-size: 35px; }
    .carouselText span {
      font-size: 18px; }
    .carouselText .bookNow {
      font-size: 18px;
      width: fit-content;
      height: fit-content;
      padding: 10px 20px; }
  .carouselButtons {
    top: 270px; } }

.fly {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px; }
  .fly p {
    color: #818181;
    margin: 0;
    text-align: center; }
  .fly h2 {
    color: #002F9D;
    font-size: 50px;
    margin: 0;
    text-align: center; }

.flyWrapper {
  margin: 50px auto 0;
  width: 100%; }

.flyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 40px 0; }

.rowData {
  max-width: 440px;
  width: 100%;
  display: flex;
  align-items: center; }

.dataImage {
  max-width: 95px;
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(179, 179, 179, 0.3);
  border-radius: 50px;
  margin: 0 20px 0 0; }
  .dataImage img {
    max-width: 50px;
    max-height: 50px;
    box-sizing: border-box; }

.dataText h4 {
  margin: 0;
  font-size: 24px;
  color: #002F9D;
  font-weight: normal; }

.dataText p {
  color: #002F9D;
  font-size: 18px;
  margin-top: 10px;
  text-align: left; }

@media (max-width: 900px) {
  .dataText h4 {
    font-size: 20px; }
  .dataText p {
    font-size: 16px; } }

@media (max-width: 768px) {
  .fly h2 {
    font-size: 32px; }
  .flyRow {
    flex-direction: column;
    margin: 0; }
    .flyRow .rowData {
      margin: 0 0 25px 0; } }

@media (max-width: 430px) {
  .fly {
    padding: 30px 10px; }
  .dataImage {
    max-width: 70px;
    height: 70px; }
    .dataImage img {
      max-width: 35px;
      max-height: 35px; }
  .dataText {
    width: 100%; } }

.offers {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: #002F9D;
  padding: 50px 0; }

.offersContainer {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto; }
  .offersContainer span {
    color: #FFF;
    font-size: 20px; }

#offersWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0 0; }

.offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 320px;
  box-sizing: border-box;
  background-color: #FFF;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  .offer img {
    width: 100%;
    height: 170px;
    object-fit: cover; }
  .offer .offerText {
    padding: 0 0 0 30px; }
    .offer .offerText h2 {
      font-size: 24px;
      color: #002F9D;
      margin-bottom: 0; }
    .offer .offerText p {
      font-size: 20px;
      color: #002F9D;
      margin: 0 0 15px 0; }
    .offer .offerText a {
      box-sizing: border-box;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      color: #002F9D; }
  .offer:hover {
    transform: scale(1.1);
    transition: all 100ms ease-in-out; }

.special {
  position: relative; }
  .special .offerLabel {
    position: absolute;
    top: 20px;
    left: -15px;
    background-color: #ffed28;
    color: #002F9D;
    width: 200px;
    height: 30px;
    padding: 0 0 0 15px;
    font-size: 20px;
    font-weight: bold; }
  .special #triangle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 0;
    height: 50px;
    border-top: 15px solid #b3a61d;
    border-left: 15px solid transparent; }

@media (max-width: 1100px) {
  .offersContainer .showSpan {
    max-width: 700px;
    width: 100%;
    margin: auto; }
  .offersContainer #offersWrapper {
    width: 100%;
    justify-content: center;
    padding: 0 20px; }
    .offersContainer #offersWrapper .offer {
      width: 340px; }
      .offersContainer #offersWrapper .offer:nth-child(odd) {
        margin: 0 20px 20px 0; }
      .offersContainer #offersWrapper .offer:nth-child(even) {
        margin: 0 0 20px 0; } }

@media (max-width: 740px) {
  .offersContainer .showSpan {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    text-align: center; }
    .offersContainer .showSpan span {
      font-size: 32px; }
  .offersContainer #offersWrapper .offer {
    width: 340px; }
    .offersContainer #offersWrapper .offer:nth-child(odd) {
      margin: 0 0 20px 0; }
    .offersContainer #offersWrapper .offer:nth-child(even) {
      margin: 0 0 20px 0; } }

.services {
  background-color: #021f59;
  padding: 80px 0;
  color: #FFF;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services h2 {
    color: #38bdff;
    font-size: 50px;
    margin: 0; }
  .services p {
    max-width: 630px;
    width: 100%;
    text-align: center;
    margin: 10px 0 60px 0;
    font-size: 20px; }
  .services .upgrades {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 20px;
    text-align: end; }
    .services .upgrades a {
      color: #11a7fd;
      text-decoration: none;
      font-size: 20px;
      border-bottom: 3px dashed #11a7fd; }

[data-tab-content] {
  display: none; }

.active[data-tab-content] {
  display: block; }

.servicesWrapper {
  max-width: 1020px;
  width: 100%; }

.serviceTabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.tab {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #818181;
  transition: all 150ms ease-in-out; }

.tab.active {
  border-top: 6px solid #38bdff;
  color: #002F9D;
  font-weight: bold;
  background-color: #FFF; }

.contentWrapper {
  display: flex; }
  .contentWrapper h2 {
    display: none; }

#regular,
#plus,
#premium {
  background-color: #FFF;
  color: #002F9D;
  padding: 40px 0 40px 70px; }
  #regular a,
  #plus a,
  #premium a {
    text-decoration: none;
    font-size: 20px; }

.dataLeft div,
.dataRight div {
  margin: 0 0 20px 0; }

.contentImage img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px; }

.contentData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; }

.activData a {
  color: #002F9D; }

.activData:hover {
  text-decoration: underline; }

.lockedData a {
  color: #818181; }

#plus .contentWrapper img {
  object-position: left; }

@media (max-width: 1100px) {
  .upgrades {
    padding: 0 20px 0 0; }
  .servicesWrapper {
    padding: 0 20px;
    box-sizing: border-box; }
  #regular,
  #plus,
  #premium {
    padding-left: 20px; } }

@media (max-width: 768px) {
  .services {
    padding-left: 20px;
    padding-right: 20px; }
    .services h2 {
      text-align: center;
      font-size: 32px; }
    .services p {
      font-size: 16px; }
    .services .upgrades {
      margin-bottom: 0;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      padding: 0; }
  .servicesWrapper {
    padding: 0; }
  .serviceTabs {
    display: none; }
  #regular,
  #plus,
  #premium {
    margin: 30px auto;
    padding: 20px 0;
    border-top: 10px solid #002F9D;
    max-width: 500px;
    width: 100%; }
  [data-tab-content] {
    display: block; }
  .contentWrapper {
    flex-direction: column;
    align-items: center; }
    .contentWrapper .contentImage {
      width: fit-content; }
      .contentWrapper .contentImage img {
        width: 150px;
        height: 150px; }
    .contentWrapper h2 {
      display: block;
      font-size: 25px;
      margin: 0 0 15px 0;
      color: #002F9D; }
    .contentWrapper .contentData {
      flex-direction: column; } }

footer {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto; }

.footerTop {
  background-color: #002F9D;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.topWrapper {
  max-width: 750px;
  width: 100%; }

.newsletter {
  padding: 30px;
  padding-left: 0;
  display: flex;
  align-items: center; }
  .newsletter span {
    color: #FFF;
    margin: 0 100px 0 110px;
    font-size: 24px; }
  .newsletter .sendButton {
    width: 60px;
    display: flex;
    align-items: center;
    margin: 0 0 0 -20px; }
    .newsletter .sendButton button {
      background-color: transparent;
      border: none;
      color: #FFF;
      font-size: 20px;
      margin-left: -50px;
      cursor: pointer;
      z-index: 20; }
    .newsletter .sendButton img {
      height: 20px; }
    .newsletter .sendButton:active {
      transform: scale(0.8); }

.inputData {
  height: 40px;
  width: 100%;
  position: relative; }

.inputData input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  border-bottom: 2px solid #FFF;
  padding: 0 75px 0 0; }

.inputData input:focus ~ label,
.inputData input:valid ~ label {
  transform: translateY(-30px);
  font-size: 15px; }

.inputData label {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 20px;
  color: #FFF;
  pointer-events: none;
  transition: all 0.3s ease; }

.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0; }

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #11a7fd;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease; }

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before {
  transform: scaleX(1); }

.socials {
  padding: 0 110px 0 0; }
  .socials .socialsWrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .socials .socialsWrapper span {
      color: #FFF;
      font-size: 24px;
      margin: 0 20px 0 0; }
    .socials .socialsWrapper .links {
      display: flex; }
      .socials .socialsWrapper .links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(117, 117, 117, 0.5);
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        transition: all 100ms ease-in-out; }
        .socials .socialsWrapper .links a:nth-child(4) {
          margin: 0; }
        .socials .socialsWrapper .links a:hover {
          border: 2px solid #FFF;
          transition: all 100ms ease-in-out; }

.socialImg {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat; }

.fb {
  background-image: url("../images/fb.png");
  width: 12px; }

.tw {
  background-image: url("../images/tw.png"); }

.ig {
  background-image: url("../images/ig.png"); }

.footerBottom {
  padding: 40px 110px;
  border-bottom: 9px solid #38bdff; }

.bottomWrapper {
  display: flex;
  justify-content: space-between; }
  .bottomWrapper .cards {
    display: flex; }
    .bottomWrapper .cards .card {
      margin: 0 20px 0 0; }

.policies {
  display: flex;
  align-items: center; }
  .policies a {
    color: #818181;
    text-decoration: none; }
    .policies a:first-child {
      margin: 0 15px 0 0; }
    .policies a:hover {
      text-decoration: underline; }

.inputData .failure {
  color: red; }

.inputData .success {
  color: lime; }

@media (max-width: 1200px) {
  .footerTop {
    flex-direction: column; }
    .footerTop .newsletter {
      flex-direction: column;
      padding: 30px; }
      .footerTop .newsletter span {
        margin: auto;
        text-align: center; }
        .footerTop .newsletter span::after {
          content: " to our  newsletter"; }
      .footerTop .newsletter .inputData {
        max-width: 560px;
        margin: 50px 0 0 0; }
        .footerTop .newsletter .inputData input {
          padding: 0; }
      .footerTop .newsletter .sendButton {
        max-width: 300px;
        width: 100%;
        margin-left: 0; }
        .footerTop .newsletter .sendButton button {
          color: #002F9D;
          background-color: #FFF;
          margin: 20px 0 0 0;
          width: 100%;
          font-size: 22px;
          padding: 10px 0;
          font-weight: bold; }
        .footerTop .newsletter .sendButton img {
          display: none; }
    .footerTop .socials {
      width: 100%;
      padding: 0;
      background-color: #FFF; }
      .footerTop .socials .socialsWrapper {
        flex-direction: column; }
        .footerTop .socials .socialsWrapper span {
          color: #002F9D;
          margin: 35px 0 45px 0; }
        .footerTop .socials .socialsWrapper a:hover {
          border: 2px solid #021f59; }
        .footerTop .socials .socialsWrapper a .fb {
          background-image: url("../images/fbb.png");
          width: 12px; }
        .footerTop .socials .socialsWrapper a .tw {
          background-image: url("../images/twb.png"); }
        .footerTop .socials .socialsWrapper a .ig {
          background-image: url("../images/igb.png"); }
  .footerBottom {
    padding: 40px; }
    .footerBottom .bottomWrapper {
      flex-direction: column;
      align-items: center; }
      .footerBottom .bottomWrapper .cards {
        margin: 0 0 35px 0; } }

.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s; }

.overlayActive {
  visibility: visible;
  opacity: 1; }

.modal {
  position: relative;
  background-color: #FFF;
  width: 100%;
  max-width: 700px;
  margin: 0 20px;
  padding: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: auto; }
  .modal .inputData input {
    color: #11a7fd;
    border-bottom: 2px solid #818181; }
  .modal .inputData label {
    color: #818181; }
  .modal .inputData .underline:before {
    background: #11a7fd; }
  .modal .inputData input:focus ~ label,
  .modal .inputData input:valid ~ label {
    color: #11a7fd; }
  .modal span {
    color: #11a7fd; }
  .modal button {
    padding: 15px 25px;
    cursor: pointer;
    background-color: #002F9D;
    color: #FFF;
    border: none; }

.input {
  margin: 20px auto; }
  .input .inputData {
    margin: 30px 0; }

.closeModal {
  position: absolute;
  top: 40px;
  right: 60px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin: 0; }

@media (max-width: 768px) {
  .modal {
    padding: 50px 20px; } }

@media (max-width: 600px) {
  .closeModal {
    right: 40px; } }

@media (max-width: 330px) {
  .modal {
    padding: 15px 10px; }
  img {
    width: 50px; }
  p,
  h3,
  h2 {
    margin: 5px 0; }
  .closeModal {
    top: 20px;
    right: 25px; } }

.suggestion {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto; }
  .suggestion h2 {
    font-size: 32px;
    color: #002F9D;
    margin: 0;
    font-weight: normal;
    text-align: center; }
  .suggestion a {
    text-decoration: none;
    color: #002F9D;
    border-bottom: 3px dashed #002F9D;
    font-weight: bold; }

@media (max-width: 768px) {
  .suggestion h2 {
    font-size: 32px; } }

@media (max-width: 460px) {
  .suggestion h2 {
    font-size: 26px; } }
