//FONTS
$fontColorBlue:#002F9D;
$fontColorBlueLight:#11a7fd;
$fontColorWhite:#FFF;
$fontColorGray:#818181;
$fontColorGrayLight:rgba(179, 179, 179, 0.3);
//COLORS
$whiteColor: #FFF;
$tabColor:#f0f0f0;
$ColorBlueLight:#38bdff;
$blueDark: #021f59;
$colorYellow:#ffed28;
$colorYellowDarker:#b3a61d;
//BREAKPOINTS
$tablet:768px;
$phone:400px;