@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800");
@import "variables";
@import "layout/base";
@import "layout/header";
@import "layout/carousel";
@import "layout/fly";
@import "layout/offers";
@import "layout/services";
@import "layout/footer";
@import "layout/modal";
.suggestion {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    & h2 {
        font-size: 32px;
        color: $fontColorBlue;
        margin: 0;
        font-weight: normal;
        text-align: center;
    }
    & a {
        text-decoration: none;
        color: $fontColorBlue;
        border-bottom: 3px dashed $fontColorBlue;
        font-weight: bold;
    }
}

@media (max-width: $tablet) {
    .suggestion {
        h2 {
            font-size: 32px;
        }
    }
}

@media (max-width: 460px) {
    .suggestion {
        h2 {
            font-size: 26px;
        }
    }
}