.carousel {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carouselSlide {
    display: flex;
    width: 100%;
    height: 550px;
}

.carouselSlide img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.carouselData {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.carouselText {
    width: fit-content;
    position: absolute;
    width: 400px;
    top: 200px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    & h1 {
        color: $fontColorWhite;
        font-weight: bold;
        font-size: 50px;
        line-height: 0.95;
        margin: 0;
        span {
            font-size: 50px;
        }
    }
    & span {
        color: $fontColorWhite;
        font-size: 24px;
    }
    .bookNow {
        width: 180px;
        height: 60px;
        color: $fontColorWhite;
        font-size: 24px;
        font-weight: bold;
        border: none;
        background: $fontColorBlue;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-color: $fontColorBlueLight;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.carouselButtons {
    width: fit-content;
    position: absolute;
    top: 250px;
    right: 20px;
    z-index: 10;
}

.carouselButtons button {
    width: 50px;
    height: 50px;
    background: none;
    border: 1px solid $fontColorWhite;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        border: 2px solid $fontColorBlueLight;
    }
    &:active {
        border: 2px solid $fontColorGray;
    }
    &#previous {
        margin: 0 15px 0 0;
    }
}

@media (max-width: $tablet) {
    .carousel {
        height: 450px;
    }
    .carouselSlide {
        height: 450px;
    }
    .carouselText {
        top: 70px;
    }
    .carouselButtons {
        top: 350px;
    }
}

@media (max-width: 500px) {
    .carousel {
        height: 350px;
    }
    .carouselSlide {
        height: 350px;
        img {
            object-position: bottom;
        }
    }
    .carouselText {
        top: 70px;
        h1 {
            font-size: 35px;
            word-break: break-all;
            span {
                display: block;
                font-size: 35px;
            }
        }
        span {
            font-size: 18px;
        }
        .bookNow {
            font-size: 18px;
            width: fit-content;
            height: fit-content;
            padding: 10px 20px;
        }
    }
    .carouselButtons {
        top: 270px;
    }
}