.fly {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 30px;
    & p {
        color: $fontColorGray;
        margin: 0;
        text-align: center;
    }
    & h2 {
        color: $fontColorBlue;
        font-size: 50px;
        margin: 0;
        text-align: center;
    }
}

.flyWrapper {
    margin: 50px auto 0;
    width: 100%;
}

.flyRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 40px 0;
}

.rowData {
    max-width: 440px;
    width: 100%;
    display: flex;
    align-items: center;
}

.dataImage {
    max-width: 95px;
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $fontColorGrayLight;
    border-radius: 50px;
    margin: 0 20px 0 0;
    & img {
        max-width: 50px;
        max-height: 50px;
        box-sizing: border-box;
    }
}

.dataText {
    & h4 {
        margin: 0;
        font-size: 24px;
        color: $fontColorBlue;
        font-weight: normal;
    }
    & p {
        color: $fontColorBlue;
        font-size: 18px;
        margin-top: 10px;
        text-align: left;
    }
}

@media (max-width: 900px) {
    .dataText {
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: $tablet) {
    .fly {
        h2 {
            font-size: 32px;
        }
    }
    .flyRow {
        flex-direction: column;
        margin: 0;
        .rowData {
            margin: 0 0 25px 0;
        }
    }
}

@media (max-width: 430px) {
    .fly {
        padding: 30px 10px;
    }
    .dataImage {
        max-width: 70px;
        height: 70px;
        img {
            max-width: 35px;
            max-height: 35px;
        }
    }
    .dataText {
        width: 100%;
    }
}