footer {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.footerTop {
    background-color: $fontColorBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topWrapper {
    max-width: 750px;
    width: 100%;
}

.newsletter {
    padding: 30px;
    padding-left: 0;
    display: flex;
    align-items: center;
    & span {
        color: $fontColorWhite;
        margin: 0 100px 0 110px;
        font-size: 24px;
    }
    .sendButton {
        width: 60px;
        display: flex;
        align-items: center;
        margin: 0 0 0 -20px;
        & button {
            background-color: transparent;
            border: none;
            color: $fontColorWhite;
            font-size: 20px;
            margin-left: -50px;
            cursor: pointer;
            z-index: 20;
        }
        & img {
            height: 20px;
        }
        &:active {
            transform: scale(0.8);
        }
    }
}

.inputData {
    height: 40px;
    width: 100%;
    position: relative;
}

.inputData input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: $fontColorWhite;
    border-bottom: 2px solid $fontColorWhite;
    padding: 0 75px 0 0;
}

.inputData input:focus~label,
.inputData input:valid~label {
    transform: translateY(-30px);
    font-size: 15px;
    // color: $fontColorBlueLight;
}

.inputData label {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 20px;
    color: $fontColorWhite;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputData .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.inputData .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: $fontColorBlueLight;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.inputData input:focus~.underline:before,
.inputData input:valid~.underline:before {
    transform: scaleX(1);
}

.socials {
    padding: 0 110px 0 0;
    & .socialsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            color: $fontColorWhite;
            font-size: 24px;
            margin: 0 20px 0 0;
        }
        .links {
            display: flex;
            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid rgba(117, 117, 117, 0.5);
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;
                transition: all 100ms ease-in-out;
                &:nth-child(4) {
                    margin: 0;
                }
                &:hover {
                    border: 2px solid $fontColorWhite;
                    transition: all 100ms ease-in-out;
                }
            }
        }
    }
}

.socialImg {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.fb {
    background-image: url("../images/fb.png");
    width: 12px;
}

.tw {
    background-image: url("../images/tw.png");
}

.ig {
    background-image: url("../images/ig.png");
}

.footerBottom {
    padding: 40px 110px;
    border-bottom: 9px solid $ColorBlueLight;
}

.bottomWrapper {
    display: flex;
    justify-content: space-between;
    & .cards {
        display: flex;
        & .card {
            margin: 0 20px 0 0;
        }
    }
}

.policies {
    display: flex;
    align-items: center;
    & a {
        color: $fontColorGray;
        text-decoration: none;
        &:first-child {
            margin: 0 15px 0 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.inputData .failure {
    color: rgb(255, 0, 0);
}

.inputData .success {
    color: rgb(0, 255, 0);
}

@media (max-width: 1200px) {
    .footerTop {
        flex-direction: column;
        .newsletter {
            flex-direction: column;
            padding: 30px;
            span {
                margin: auto;
                text-align: center;
                &::after {
                    content: " to our  newsletter";
                }
            }
            .inputData {
                max-width: 560px;
                margin: 50px 0 0 0;
                input {
                    padding: 0;
                }
            }
            .sendButton {
                max-width: 300px;
                width: 100%;
                margin-left: 0;
                button {
                    color: $fontColorBlue;
                    background-color: $whiteColor;
                    margin: 20px 0 0 0;
                    width: 100%;
                    font-size: 22px;
                    padding: 10px 0;
                    font-weight: bold;
                }
                img {
                    display: none;
                }
            }
        }
        .socials {
            width: 100%;
            padding: 0;
            background-color: $whiteColor;
            .socialsWrapper {
                flex-direction: column;
                span {
                    color: $fontColorBlue;
                    margin: 35px 0 45px 0;
                }
                a {
                    &:hover {
                        border: 2px solid $blueDark;
                    }
                    .fb {
                        background-image: url("../images/fbb.png");
                        width: 12px;
                    }
                    .tw {
                        background-image: url("../images/twb.png");
                    }
                    .ig {
                        background-image: url("../images/igb.png");
                    }
                }
            }
        }
    }
    .footerBottom {
        padding: 40px;
        .bottomWrapper {
            flex-direction: column;
            align-items: center;
            .cards {
                margin: 0 0 35px 0;
            }
        }
    }
}