.nav {
    display: flex;
    padding: 0 110px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: $fontColorWhite;
    height: 110px;
}

.navLogo {
    margin-right: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 72px;
    }
}

.navData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navRoutes {
    & a {
        font-size: 22px;
        margin-right: 20px;
        color: $fontColorBlue;
        text-decoration: none;
        &:hover {
            color: $fontColorBlueLight;
        }
    }
}

.navLanguage {
    display: flex;
    align-items: center;
    color: $fontColorBlue;
    font-size: 16px;
    & a {
        text-decoration: none;
        color: $fontColorBlue;
        &:hover {
            color: $fontColorBlueLight;
        }
    }
    & span {
        margin: 0 20px;
        color: rgb(230, 230, 230);
    }
    .flag {
        display: flex;
        justify-content: c;
        p {
            margin: 0;
        }
    }
}

#pound {
    color: $fontColorBlue;
    margin: 0;
}

@media (max-width: 1170px) {
    .nav {
        padding: 20px;
    }
}

@media (max-width:$tablet) {
    .nav {
        height: fit-content;
    }
    .navLogo {
        margin: 0;
        img {
            width: 38px;
        }
    }
    .navData {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
    }
    .navRoutes {
        a {
            font-size: 14px;
            margin-right: 24px;
        }
        a:last-of-type {
            margin: 0;
        }
    }
    .navLanguage {
        font-size: 16px;
        margin: 0 0 10px 0;
        p {
            margin: 0;
            &::after {
                content: "";
            }
        }
    }
    .flag {
        p {
            display: none;
        }
    }
}