.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s;
}

.overlayActive {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: $fontColorWhite;
    width: 100%;
    max-width: 700px;
    margin: 0 20px;
    padding: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: auto;
    & .inputData input {
        color: $fontColorBlueLight;
        border-bottom: 2px solid $fontColorGray;
    }
    & .inputData label {
        color: $fontColorGray;
    }
    & .inputData .underline:before {
        background: $fontColorBlueLight;
    }
    & .inputData input:focus~label,
    .inputData input:valid~label {
        color: $fontColorBlueLight;
    }
    & span {
        color: $fontColorBlueLight;
    }
    & button {
        padding: 15px 25px;
        cursor: pointer;
        background-color: $fontColorBlue;
        color: $fontColorWhite;
        border: none;
    }
}

.input {
    margin: 20px auto;
    & .inputData {
        margin: 30px 0;
    }
}

.closeModal {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

@media (max-width: $tablet) {
    .modal {
        padding: 50px 20px;
    }
}

@media (max-width: 600px) {
    .closeModal {
        right: 40px;
    }
}

@media (max-width: 330px) {
    .modal {
        padding: 15px 10px;
    }
    img {
        width: 50px;
    }
    p,
    h3,
    h2 {
        margin: 5px 0;
    }
    .closeModal {
        top: 20px;
        right: 25px;
    }
}