.offers {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    background-color: $fontColorBlue;
    padding: 50px 0;
}

.offersContainer {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    & span {
        color: $fontColorWhite;
        font-size: 20px;
    }
}

#offersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 0;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 320px;
    box-sizing: border-box;
    background-color: $fontColorWhite;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    & img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    & .offerText {
        padding: 0 0 0 30px;
        & h2 {
            font-size: 24px;
            color: $fontColorBlue;
            margin-bottom: 0;
        }
        & p {
            font-size: 20px;
            color: $fontColorBlue;
            margin: 0 0 15px 0;
        }
        & a {
            box-sizing: border-box;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: $fontColorBlue;
        }
    }
    &:hover {
        transform: scale(1.1);
        transition: all 100ms ease-in-out;
    }
}

.special {
    position: relative;
    .offerLabel {
        position: absolute;
        top: 20px;
        left: -15px;
        background-color: $colorYellow;
        color: $fontColorBlue;
        width: 200px;
        height: 30px;
        padding: 0 0 0 15px;
        font-size: 20px;
        font-weight: bold;
    }
    #triangle {
        position: absolute;
        top: 30px;
        left: 0px;
        width: 0;
        height: 50px;
        border-top: 15px solid $colorYellowDarker;
        border-left: 15px solid transparent;
    }
}

@media (max-width: 1100px) {
    .offersContainer {
        .showSpan {
            max-width: 700px;
            width: 100%;
            margin: auto;
        }
        #offersWrapper {
            width: 100%;
            justify-content: center;
            padding: 0 20px;
            .offer {
                width: 340px;
                &:nth-child(odd) {
                    margin: 0 20px 20px 0;
                }
                &:nth-child(even) {
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .offersContainer {
        .showSpan {
            display: flex;
            justify-content: center;
            padding: 0 20px;
            text-align: center;
            span {
                font-size: 32px;
            }
        }
        #offersWrapper {
            .offer {
                width: 340px;
                &:nth-child(odd) {
                    margin: 0 0 20px 0;
                }
                &:nth-child(even) {
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}