.services {
    background-color: $blueDark;
    padding: 80px 0;
    color: $fontColorWhite;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        color: $ColorBlueLight;
        font-size: 50px;
        margin: 0;
    }
    & p {
        max-width: 630px;
        width: 100%;
        text-align: center;
        margin: 10px 0 60px 0;
        font-size: 20px;
    }
    .upgrades {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto 20px;
        text-align: end;
        a {
            color: $fontColorBlueLight;
            text-decoration: none;
            font-size: 20px;
            border-bottom: 3px dashed $fontColorBlueLight;
        }
    }
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.servicesWrapper {
    max-width: 1020px;
    width: 100%;
}

.serviceTabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tabColor;
    color: $fontColorGray;
    transition: all 150ms ease-in-out;
}

.tab.active {
    border-top: 6px solid $ColorBlueLight;
    color: $fontColorBlue;
    font-weight: bold;
    background-color: $fontColorWhite;
}

.contentWrapper {
    display: flex;
    h2 {
        display: none;
    }
}

#regular,
#plus,
#premium {
    background-color: $fontColorWhite;
    color: $fontColorBlue;
    padding: 40px 0 40px 70px;
    & a {
        text-decoration: none;
        font-size: 20px;
    }
}

.dataLeft div,
.dataRight div {
    margin: 0 0 20px 0;
}

.contentImage img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.contentData {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.activData {
    & a {
        color: $fontColorBlue;
    }
    &:hover {
        text-decoration: underline;
    }
}

.lockedData {
    & a {
        color: $fontColorGray;
    }
}

#plus .contentWrapper img {
    object-position: left;
}

@media (max-width: 1100px) {
    .upgrades {
        padding: 0 20px 0 0;
    }
    .servicesWrapper {
        padding: 0 20px;
        box-sizing: border-box;
    }
    #regular,
    #plus,
    #premium {
        padding-left: 20px;
    }
}

@media (max-width: $tablet) {
    .services {
        padding-left: 20px;
        padding-right: 20px;
        h2 {
            text-align: center;
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
        .upgrades {
            margin-bottom: 0;
            max-width: 500px;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    }
    .servicesWrapper {
        padding: 0;
    }
    .serviceTabs {
        display: none;
    }
    #regular,
    #plus,
    #premium {
        margin: 30px auto;
        padding: 20px 0;
        border-top: 10px solid $fontColorBlue;
        max-width: 500px;
        width: 100%;
    }
    [data-tab-content] {
        display: block;
    }
    .contentWrapper {
        flex-direction: column;
        align-items: center;
        .contentImage {
            width: fit-content;
            img {
                width: 150px;
                height: 150px;
            }
        }
        h2 {
            display: block;
            font-size: 25px;
            margin: 0 0 15px 0;
            color: $fontColorBlue;
        }
        .contentData {
            flex-direction: column;
        }
    }
}